<meta content="text/html; charset=utf-8" />
{% extends "base.html" %}
{% block content %}
    <h3>{{showimage.picture_name}}</h3>
    <img id="onlyimage" src={{ showimage.picture_load.url }} onload="onlyimage()" style ="position:absolute" class="img-circle"/>
    <h4>{{showimage.picture_message}}</h4>
    <h4>image's type: {{showimage.picture_label}}</h4>
    <div>Created at {{showimage.picture_time}} by {{showimage.picture_user}}</div>

<body>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <!--是弹出对话框需要的js文件-->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <nav class="main-menu">
      <div class="logo"></div>
      <div class="settings"></div>
            <ul>
                <li>
                  <a  href="{% url 'grayscale' %}" >
                      <i class="fa fa-camera-retro fa-lg"></i>
            <span class="nav-text">256 color grayscale</span>

                      </a>
                </li>
                <li class="has-subnav">
                    <a href="{% url 'gausssmoothing' %}">
                        <i class="fa fa-long-arrow-right fa-lg"></i>
                           <span class="nav-text">
                            Gauss Smoothing
                        </span>
                    </a>

                </li>

                               <li>
                    <a href="{% url 'two_val_change' %}">
                       <i class="fa fa-arrows-h fa-lg"></i>
                        <span class="nav-text">
                            Two Value Changed
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="{% url 'image_rotating' showimage.id  ccc %}">
                       <i class="fa fa-repeat fa-lg"></i>
                        <span class="nav-text">
                            Image Rotating
                        </span>
                    </a>
                    

                </li>

                <li>
                    <a href="{% url 'image_shrink' %}">
                        <i class="fa fa-search-minus fa-lg"></i>
                        <span class="nav-text">
                            Image Shrink 
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#"  data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-search-minus fa-lg"></i>
                        <span class="nav-text">
                            Like
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
<div style="text-align:center;clear:both">
<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
<script src="/follow.js" type="text/javascript"></script>
</div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">
				</button>
				<h4 class="modal-title" id="myModalLabel">
					点赞成功
				</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
						data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
</div><!-- /.modal -->
	</div><!-- /.modal-dialog -->
<script>
    var t = 0;
    if (t == 1) {
        $(function () {
            $('#myModal').modal({
                keyboard: true
            })
        });
        t += 1;
        if (t == 1)
            alert("Dfsdf");
    }
    else if(t>1)
        alert("您已经点赞过了");
    
</script>


</body>

{% endblock %}